body {
    background: url("/resources/images/background/backAuth.jpg");
    background-size:cover;
    background-attachment: fixed;
    height : 100%
}

#centrBlock {
    position: absolute;
    background: url("/resources/images/background/form2.jpg");
    background-size:cover;
    top : 15.6%;
    left: 27%;
    width: 47%;
    height: 55%;
}

#myform {
    margin-left: 35%;
    margin-top: 26%;
}