* {
    margin: 0;
    padding: 0;
}

html
body {
    background: url("/resources/images/background/mainBackN.jpg");
    background-size:cover;
    background-attachment: fixed;
    height : 100%;
}

#content {
    position : relative;
    float : right;
    width : 70%;
    height : 100%;
}

#menu {
    position : relative;
    width : 30%;
    float : left;
    margin-top : 33%;
}

#footer {
    position : absolute;
    left: 0;
    bottom: 0;
}

#text {
    margin-top : 30%;
}

