.menu {
    left : 20%;
    position: absolute;
    width : 15%;
}

.mainContent {
    left : 35%;
    position: relative;
    width : 65%;
    background-color: lightseagreen;
}

.statdiv {
    color: limegreen;
    position: absolute;
    width : 30%;
}

.back {
    background : image("resources/images/background/back1.jpg");
}

.centerLogin {
    background-image : image("resources/images/background/form.jpg");
    width : 600px;
    height : 600px;
}

.loginForm {
    width : 600px;
    height : 374px;
}