.welcometext {
    color: blueviolet;
    margin-top : 5%;
    margin-left: 10%;
}

.headertext {
    color: blueviolet;
    margin-top : 4%;
    margin-left: 8%;
}

.contentReg {
    position : relative;
    margin-top : 20%;
}